# Used Car Price Prediction

[Kaggle Resource](https://www.kaggle.com/datasets/taeefnajib/used-car-price-prediction-dataset)

After countless total hours... probably even total days of learning, studying, preparation, examination of best practices, and relearning... it's finally time to get down to business.

I've also recently decided that you can only do so much preparation for a complicated field like ML, so I'm going to likely have to fill in some gaps along the way here. Thankfully, Kaggle has a LOT of publicly posted code to assist me here. I will abstain from referencing it as long as I can though, and will make sure to give credit where it's due.

Anyway, I believe this data marks a perfect balance between a challenging and approachable project. Let's begin.

# Load and Examine Data

In [2443]:
# These imports are a mess. Should just import sklearn.linear_model instead
import pandas as pd
import numpy as np
from sklearn.impute import SimpleImputer
from sklearn.preprocessing import OneHotEncoder
from sklearn.experimental import enable_iterative_imputer
from sklearn.impute import IterativeImputer
from sklearn.impute import KNNImputer
import matplotlib.pyplot as plt
from sklearn.model_selection import train_test_split
from sklearn.metrics import mean_squared_error, r2_score
from sklearn import linear_model
from sklearn.preprocessing import StandardScaler

In [2444]:
cars = pd.read_csv("data/used_cars.csv")
print(len(cars))

4009

Let's just get a quick overview of some basic precleaning stuff.

In [2445]:
cars.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4009 entries, 0 to 4008
Data columns (total 12 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   brand         4009 non-null   object
 1   model         4009 non-null   object
 2   model_year    4009 non-null   int64
 3   milage        4009 non-null   object
 4   fuel_type     3839 non-null   object
 5   engine        4009 non-null   object
 6   transmission  4009 non-null   object
 7   ext_col       4009 non-null   object
 8   int_col       4009 non-null   object
 9   accident      3896 non-null   object
 10  clean_title   3413 non-null   object
 11  price         4009 non-null   object
dtypes: int64(1), object(11)
memory usage: 376.0+ KB

In [2446]:
print(f"Missing Values:\n{cars.isna().sum()}\n\nTotal Duplicates:\n{cars.duplicated().sum()}")

Missing Values:
brand             0
model             0
model_year        0
milage            0
fuel_type       170
engine            0
transmission      0
ext_col           0
int_col           0
accident        113
clean_title     596
price             0
dtype: int64

Total Duplicates:
0

Now that that's out of the way, it's time to actually take a peak at the data.

In [2447]:
cars.head(10)

,brand,model,model_year,milage,fuel_type,engine,transmission,ext_col,int_col,accident,clean_title,price
0,Ford,Utility Police Interceptor Base,2013,"51,000 mi.",E85 Flex Fuel,300.0HP 3.7L V6 Cylinder Engine Flex Fuel Capa...,6-Speed A/T,Black,Black,At least 1 accident or damage reported,Yes,"$10,300"
1,Hyundai,Palisade SEL,2021,"34,742 mi.",Gasoline,3.8L V6 24V GDI DOHC,8-Speed Automatic,Moonlight Cloud,Gray,At least 1 accident or damage reported,Yes,"$38,005"
2,Lexus,RX 350 RX 350,2022,"22,372 mi.",Gasoline,3.5 Liter DOHC,Automatic,Blue,Black,None reported,NaN,"$54,598"
3,INFINITI,Q50 Hybrid Sport,2015,"88,900 mi.",Hybrid,354.0HP 3.5L V6 Cylinder Engine Gas/Electric H...,7-Speed A/T,Black,Black,None reported,Yes,"$15,500"
4,Audi,Q3 45 S line Premium Plus,2021,"9,835 mi.",Gasoline,2.0L I4 16V GDI DOHC Turbo,8-Speed Automatic,Glacier White Metallic,Black,None reported,NaN,"$34,999"
5,Acura,ILX 2.4L,2016,"136,397 mi.",Gasoline,2.4 Liter,F,Silver,Ebony.,None reported,NaN,"$14,798"
6,Audi,S3 2.0T Premium Plus,2017,"84,000 mi.",Gasoline,292.0HP 2.0L 4 Cylinder Engine Gasoline Fuel,6-Speed A/T,Blue,Black,None reported,Yes,"$31,000"
7,BMW,740 iL,2001,"242,000 mi.",Gasoline,282.0HP 4.4L 8 Cylinder Engine Gasoline Fuel,A/T,Green,Green,None reported,Yes,"$7,300"
8,Lexus,RC 350 F Sport,2021,"23,436 mi.",Gasoline,311.0HP 3.5L V6 Cylinder Engine Gasoline Fuel,6-Speed A/T,Black,Black,None reported,Yes,"$41,927"
9,Tesla,Model X Long Range Plus,2020,"34,000 mi.",NaN,534.0HP Electric Motor Electric Fuel System,A/T,Black,Black,None reported,Yes,"$69,950"

# Clean the Data

Now that the preliminary stuff is out of the way, let's start cleaning the data up.

It'd be best to start simple here and worry about the basic numeric conversion first. We'll start by removing unnecessary string values from columns that will be designated as strictly numeric. I also think it'd be interesting to see if there are any differences in the model outputs when using `float32` instead of `float64`. We'll get to that much later though.

For now, let's start with simple data cleaning. Then we can chip away at the more tricky regex stuff and increase the complexity as we get a feel for the data.

**Note: We can definitely work on making this SIGNIFICANTLY cleaner by aggregating a lot of this into less lines of code. We want BEST PRACTICES AND THIS IS NOT THAT.**

In [2448]:
# Bugatti cars serve as a major outlier. Don't include
# Also get rid of smart
cars = cars[~cars["brand"].isin(["Bugatti", "smart"])]

# Remove non integer string values
cars[["milage", "price"]] = cars[["milage", "price"]].replace(r'[^\d]', '', regex=True)    

# `engine` column
cars["horsepower"] = cars["engine"].str.extract(r'([\d.]+)HP', expand=False)
cars["liters"] = cars["engine"].str.extract(r'([\d.]+)L', expand=False)

# `fuel_type` column
cars["gas_diesel_other"] = (
    cars["fuel_type"].str.contains("gasoline", case=False, na=False) |
    cars["fuel_type"].str.contains("diesel", case=False, na=False) |
    cars["fuel_type"].str.contains("fuel", case=False, na=False)
)
cars["hybrid"] = cars["fuel_type"].str.contains("hybrid", case=False, na=False)
cars["electric"] = cars["fuel_type"].isna()
print(f"Conflicting fuel type values? {(cars[['gas_diesel_other', 'hybrid', 'electric']].sum(axis=1) > 1).any()}")

# `transmission` column
cars["automatic_transmission"] = (
    cars["transmission"].str.contains("A/T", case=False) |
    cars["transmission"].str.contains("AT", case=False) |
    cars["transmission"].str.contains("auto", case=False) |
    cars["transmission"].str.contains("automatic", case=False) |
    cars["transmission"].str.contains("cvt", case=False)
)
cars['dual_shift_transmission'] = cars['transmission'].str.contains("dual", case=False)
cars["manual_transmission"] = (
    cars['transmission'].str.contains("manual", case=False) |
    cars['transmission'].str.contains("m/t", case=False) |
    cars['transmission'].str.contains("mt", case=False)
)
cars.loc[cars['dual_shift_transmission'], ['automatic_transmission', 'manual_transmission']] = False
cars.loc[cars['manual_transmission'], ['automatic_transmission', 'dual_shift_transmission']] = False
mask = ~(cars[['automatic_transmission', 'dual_shift_transmission', 'manual_transmission']] == False).all(axis=1) # Remove rows with `False` in all three newly created transmission columns
cars = cars[mask]
print(f"Conflicting transmission values? {(cars[['automatic_transmission', 'manual_transmission', "dual_shift_transmission"]].sum(axis=1) > 1).any()}")

# `accident` and `clean_title` columns
cars["accident_bool"] = cars["accident"] != "None reported"
cars.dropna(subset=['accident'], inplace=True)

# Deletions
cars.drop(["fuel_type", "engine", "transmission", "accident", "clean_title", "int_col", "ext_col"], axis=1, inplace=True)
cars.head(10)

Conflicting fuel type values? False
Conflicting transmission values? False

,brand,model,model_year,milage,price,horsepower,liters,gas_diesel_other,hybrid,electric,automatic_transmission,dual_shift_transmission,manual_transmission,accident_bool
0,Ford,Utility Police Interceptor Base,2013,51000,10300,300.0,3.7,True,False,False,True,False,False,True
1,Hyundai,Palisade SEL,2021,34742,38005,NaN,3.8,True,False,False,True,False,False,True
2,Lexus,RX 350 RX 350,2022,22372,54598,NaN,NaN,True,False,False,True,False,False,False
3,INFINITI,Q50 Hybrid Sport,2015,88900,15500,354.0,3.5,False,True,False,True,False,False,False
4,Audi,Q3 45 S line Premium Plus,2021,9835,34999,NaN,2.0,True,False,False,True,False,False,False
6,Audi,S3 2.0T Premium Plus,2017,84000,31000,292.0,2.0,True,False,False,True,False,False,False
7,BMW,740 iL,2001,242000,7300,282.0,4.4,True,False,False,True,False,False,False
8,Lexus,RC 350 F Sport,2021,23436,41927,311.0,3.5,True,False,False,True,False,False,False
9,Tesla,Model X Long Range Plus,2020,34000,69950,534.0,NaN,False,False,True,True,False,False,False
10,Land,Rover Range Rover Sport 3.0 Supercharged HST,2021,27608,73897,NaN,NaN,True,False,False,True,False,False,False

 I feel like I need to come up with some better data validation practices. That's for another time though. We'll see if I really messed up when we take a look at the MSE values.

# One-Hot Encode Categorical Data

I'm putting this as it's own section cause I've done one-hot encoding using `pandas`, but not `sklearn`. So let's see if I can get it done (probably gonna be pretty easy). The only categorical column I've kept is `brand`, since the color categories probably don't provide much insight, while there are too many different models in the `model` column to provide useful comparisons (at least I think). However, I think I might have to put this theory to the test.

How about this? We'll add on one more requirement to this project: predict `price` using high and low dimensional data and compare the results. This will be in addition to the requirement of comparing the various missing value imputation methods we are about to explore as well. We'll explore high dimensional data methods in another notebook much later.

In [2449]:
ohe = OneHotEncoder(handle_unknown="ignore", 
                    sparse_output=False).set_output(transform="pandas")
cars = pd.concat([cars,
                  ohe.fit_transform(cars[["brand"]])],
                  axis=1).drop(columns=["brand", "model"])
cars.shape

(3870, 67)

Alright, looks like the dimensionality of the data is still good with just `brand` encoded. Let's move on.

# Missing Value Imputation

I'm in uncharted territory with this kind of stuff, but I have a feeling it might not be too challenging. Just gonna take a lot of background studying. Let's go over some of the options we have.

Here's a [general overview](https://scikit-learn.org/stable/modules/impute.html) for Sklearn native missing value imputation. We'll do a deep dive into each Sklearn option in the `sklearn_missing_val_imputation_methods.ipynb` notebook. After that, we'll do the same with [LightGBM](https://lightgbm.readthedocs.io/en/stable/) in a separate notebook, then I can finally create my own attempt using personally selected features for a custom linear regression model. Each imputation method will be assigned to its own data frame.

Before any of that, let's do a quick double check to see if any additional columns have `NaN` values:

In [2450]:
cols_with_nans = [x for x in cars if cars[x].isnull().sum() > 0]
cars[cols_with_nans].isnull().sum()

horsepower    760
liters        360
dtype: int64

Beyond the methods I'm about to explore, I can also think of a few other ways we could fill in this data even more reliably, but we're here for practice, not the pursuit of the perfect model. That is for another time. Just leaving this note to keep that train of thought in mind. Anyway, let's do the simple stuff now.

Here's a dictionary that will hold the results of each method for the future comparisons:

In [2451]:
imp_datasets = {}

## Scikit: Mean, Median, and Most Frequent Value Imputation

Much to my destain, I think it's important to compare the performance of these more basic missing value imputations to the more advanced methods. This will act as a sort of bonus for familiarizing myself with `scikit`'s syntax and various options.

In [2452]:
# simple_imp_target_cols = ['horsepower', 'liters']

# imp_mean = SimpleImputer(strategy='mean')
# cars_mean = cars.copy()
# cars_mean[simple_imp_target_cols] = imp_mean.fit_transform(cars[simple_imp_target_cols])

# imp_median = SimpleImputer(strategy='median')
# cars_median = cars.copy()
# cars_median[simple_imp_target_cols] = imp_median.fit_transform(cars[simple_imp_target_cols])

# imp_most_freq = SimpleImputer(strategy='most_frequent')
# cars_freq = cars.copy()
# cars_freq[simple_imp_target_cols] = imp_most_freq.fit_transform(cars[simple_imp_target_cols])

# imp_datasets["scikit_mean"] = cars_mean
# imp_datasets["scikit_median"] = cars_median
# imp_datasets["scikit_most_frequent"] = cars_freq

I think that could've been written much more neatly. Let's try again

In [2453]:
def simple_impute(data: pd.DataFrame, strategy: str, target_cols: list[str]):
    data = data.copy()
    imp_simple = SimpleImputer(strategy=strategy)
    data[target_cols] = imp_simple.fit_transform(data[target_cols])
    return data

simple_imp_target_cols = ['horsepower', 'liters']
imp_datasets["scikit_mean"] = simple_impute(cars, "mean", simple_imp_target_cols).round(2) # No need for all those decimals 
imp_datasets["scikit_median"] = simple_impute(cars, "median", simple_imp_target_cols)
imp_datasets["scikit_most_frequent"] = simple_impute(cars, "most_frequent", simple_imp_target_cols)

Beautiful. Makes me so happy.

## Scikit: Iterative Imputer

I'll be referring to [this video](https://www.youtube.com/watch?v=m_qKhnaYZlc) for some help as the Sklearn documentation doesn't give me much confidence.

I'm also noticing I'm using like 3 different names for Sklearn interchangeably. I don't know how that happened.

In [2454]:
imp_it = IterativeImputer()
imp_datasets["scikit_it"] = pd.DataFrame(imp_it.fit_transform(cars), columns=cars.columns, index=cars.index)
imp_datasets["scikit_it"].head(10)

,model_year,milage,price,horsepower,liters,gas_diesel_other,hybrid,electric,automatic_transmission,dual_shift_transmission,...,brand_Rolls-Royce,brand_Saab,brand_Saturn,brand_Scion,brand_Subaru,brand_Suzuki,brand_Tesla,brand_Toyota,brand_Volkswagen,brand_Volvo
0,2013.0,51000.0,10300.0,300.000000,3.700000,1.0,0.0,0.0,1.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,2021.0,34742.0,38005.0,341.239373,3.800000,1.0,0.0,0.0,1.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,2022.0,22372.0,54598.0,343.255047,3.630839,1.0,0.0,0.0,1.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,2015.0,88900.0,15500.0,354.000000,3.500000,0.0,1.0,0.0,1.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,2021.0,9835.0,34999.0,300.635233,2.000000,1.0,0.0,0.0,1.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
6,2017.0,84000.0,31000.0,292.000000,2.000000,1.0,0.0,0.0,1.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
7,2001.0,242000.0,7300.0,282.000000,4.400000,1.0,0.0,0.0,1.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
8,2021.0,23436.0,41927.0,311.000000,3.500000,1.0,0.0,0.0,1.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
9,2020.0,34000.0,69950.0,534.000000,4.066865,0.0,0.0,1.0,1.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0
10,2021.0,27608.0,73897.0,379.346556,3.089196,1.0,0.0,0.0,1.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

## Scikit: KNN Imputer

In [2455]:
imp_knn = KNNImputer(n_neighbors=5) # Could test out different values, but I don't wanna go down that rabbit hole for this application
imp_datasets["scikit_knn"] = pd.DataFrame(imp_knn.fit_transform(cars), columns=cars.columns, index=cars.index)
imp_datasets["scikit_knn"].head(10)

,model_year,milage,price,horsepower,liters,gas_diesel_other,hybrid,electric,automatic_transmission,dual_shift_transmission,...,brand_Rolls-Royce,brand_Saab,brand_Saturn,brand_Scion,brand_Subaru,brand_Suzuki,brand_Tesla,brand_Toyota,brand_Volkswagen,brand_Volvo
0,2013.0,51000.0,10300.0,300.0,3.70,1.0,0.0,0.0,1.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,2021.0,34742.0,38005.0,324.6,3.80,1.0,0.0,0.0,1.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,2022.0,22372.0,54598.0,391.2,3.78,1.0,0.0,0.0,1.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,2015.0,88900.0,15500.0,354.0,3.50,0.0,1.0,0.0,1.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,2021.0,9835.0,34999.0,224.0,2.00,1.0,0.0,0.0,1.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
6,2017.0,84000.0,31000.0,292.0,2.00,1.0,0.0,0.0,1.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
7,2001.0,242000.0,7300.0,282.0,4.40,1.0,0.0,0.0,1.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
8,2021.0,23436.0,41927.0,311.0,3.50,1.0,0.0,0.0,1.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
9,2020.0,34000.0,69950.0,534.0,4.08,0.0,0.0,1.0,1.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0
10,2021.0,27608.0,73897.0,458.6,4.68,1.0,0.0,0.0,1.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

That was suspiciously easy... I hope the above code is correct.

I also wanted to take a look at imputing missing values using decision trees somehow, as discussed in [this paper](https://www.sciencedirect.com/science/article/pii/S2772662223001819), but I think I should look into that another time. Certainly worth keeping note of for now. As I tend to frequently say, let's move on.

**Note from future Christian:** Turns out LightGBM uses a form of decision tree modeling!

# LightGBM

Before you get started, refer to `lightgbm_missing_val_imputation_methods.ipynb` for how to proceed.

Alright. Let's do it. Major credit to [this guy](https://www.youtube.com/watch?v=KWrZ59nLLSg&t=618s).

In [2456]:
# Function could definitely be more secure but we're not working with the categorical data anyway
def lgbm_impute(data: pd.DataFrame):
    data = data.copy()
    cols_with_nans = [x for x in data if data[x].isnull().sum() > 0]
    for col in cols_with_nans:
        data[f"{col}_is_nan"] = data[col].isnull().astype(int)
        train = data[f"{col}_is_nan"]

    return data
    
imp_datasets["lgbm_reg"] = lgbm_impute(cars)

train = cars[~cars.isna()]
train[["horsepower", "liters"]].head(10)

   horsepower liters
0       300.0    3.7
1         NaN    3.8
2         NaN    NaN
3       354.0    3.5
4         NaN    2.0
6       292.0    2.0
7       282.0    4.4
8       311.0    3.5
9       534.0    NaN
10        NaN    NaN

After some further research, I think this is a topic for another time. Taking too much background research to confidently make it happen.

Let's instead add one more dataset to compare. This one will simply remove all rows with missing values.

In [2457]:
del imp_datasets["lgbm_reg"]
imp_datasets["no_nan"] = cars.dropna()
del cars

Now that we have cleaned the data, encoded the categorical features, and imputed missing values with various methods, it's finally time to actually create a linear regression model.

# Linear Regression

Let's review our options for performing linear regression.
* Ordinary Least Squares
* Ridge Regression
* Lasso

## Split the Data

In [2458]:
# Another function that ideally would be more restrictive for its inputs,
# but we'll worry about that in a more serious project
def imp_data_splits(data: dict):
    split_data = {}
    for imp_type, imp_data in data.items():
        X, y = imp_data.drop(["price"], axis=1), imp_data["price"]
        X_train, X_test, y_train, y_test = train_test_split(
            X, y, test_size=0.2, random_state=0, shuffle=True
        )
        split_data[imp_type] = {
            "X_train": X_train, "X_test": X_test,
            "y_train": y_train, "y_test": y_test
        }
    return split_data

split_datasets = imp_data_splits(imp_datasets)

print(split_datasets.keys())
print(split_datasets["scikit_mean"].keys())

dict_keys(['scikit_mean', 'scikit_median', 'scikit_most_frequent', 'scikit_it', 'scikit_knn', 'no_nan'])
dict_keys(['X_train', 'X_test', 'y_train', 'y_test'])

## OLS Regression

I was originally attempting to make this function all-encompassing for the different regression methods. Unfortunately, I found out I should practice them individually before attempting that. For the scope of this project it's probably unnecessary anyway.

In [2459]:
def ols_regression(data: dict):
    imp_types = list(data.keys())
    results = {}
    for imp_type in imp_types:
        X_train = data[imp_type]["X_train"]
        X_test = data[imp_type]["X_test"]
        y_train = data[imp_type]["y_train"]
        y_test = data[imp_type]["y_test"]

        ols = linear_model.LinearRegression()
        ols.fit(X_train, y_train)
        y_pred = ols.predict(X_test)

        results[imp_type] = {
            "model": ols,
            "mse": mean_squared_error(y_test, y_pred), 
            "r2_score": r2_score(y_test, y_pred),
            "predictions": y_pred
        }
    return results

ols_results = ols_regression(split_datasets)

## Ridge Regression

In [2460]:
def ridge_regression(data: dict):
    imp_types = list(data.keys())
    results = {}
    for imp_type in imp_types:
        X_train = data[imp_type]["X_train"]
        X_test = data[imp_type]["X_test"]
        y_train = data[imp_type]["y_train"]
        y_test = data[imp_type]["y_test"]

        scaler = StandardScaler()
        scaler.fit(X_train)
        X_train = scaler.transform(X_train)
        X_test = scaler.transform(X_test)

        ridge = linear_model.Ridge(alpha=0.1)
        ridge.fit(X_train, y_train)
        y_pred = ridge.predict(X_test)

        results[imp_type] = {
            "model": ridge,
            "mse": mean_squared_error(y_test, y_pred), 
            "r2_score": r2_score(y_test, y_pred),
            "predictions": y_pred
        }

    return results
        
ridge_results = ridge_regression(split_datasets)
ridge_results["scikit_mean"]["predictions"]

array([ 2.45531905e+04,  1.38098960e+05,  4.34457319e+04,  4.08465385e+04,
        5.20228556e+04,  2.20420033e+05,  4.77378026e+04,  5.66294726e+04,
        2.32311943e+04,  5.55650414e+04,  6.56384272e+04,  4.86293394e+04,
        3.90858315e+04,  3.67709037e+04,  5.27915831e+04,  4.66706909e+04,
        3.12111965e+04,  3.59520450e+04,  5.79827628e+04,  6.10033103e+04,
        3.88987836e+04,  7.60910845e+04,  6.58145887e+04,  1.10652178e+04,
       -1.33518978e+04, -1.16575049e+04,  4.47972166e+04,  3.78137950e+04,
        3.60226476e+04,  6.65899676e+04,  2.83239741e+04,  2.03059211e+04,
       -8.03854592e+03,  4.03748411e+05,  6.24296516e+04,  3.99825729e+04,
        2.90624333e+04,  3.54941919e+04,  1.65316217e+04,  7.13986575e+04,
       -1.14265422e+04,  2.21606282e+04,  4.03939153e+04,  6.55138202e+04,
        2.23906684e+04,  1.85457424e+04,  3.40109049e+04,  1.33521135e+04,
        3.82403844e+05,  4.83827887e+04,  4.82336078e+04,  6.50269426e+04,
        1.18169373e+04,  6.01491833e+04,  4.52567318e+04,  4.02502942e+04,
       -7.56265088e+02, -9.75132248e+02,  5.11188895e+03,  2.81549397e+04,
        5.74080386e+04,  4.93190630e+04,  9.13576254e+03,  5.11497224e+04,
        6.65369011e+04,  6.44603636e+04,  9.50511554e+03,  3.11436622e+04,
        5.23069514e+04,  4.43459746e+04,  4.54707062e+04,  7.20340253e+04,
        4.46062994e+04,  5.17571909e+04,  8.34861814e+04,  7.73749210e+04,
        6.60467079e+04,  2.94992432e+04,  3.12025281e+04,  4.73444560e+04,
        6.82185051e+04,  7.32134624e+04,  7.42683074e+04,  4.79435613e+04,
       -4.81101744e+03,  4.80309161e+04,  4.07844007e+04,  5.87900348e+04,
        3.00703276e+04,  3.98314339e+04,  5.66345567e+04,  4.11448004e+04,
        2.09456320e+04,  2.85987690e+04,  4.02082934e+04,  7.07648746e+03,
        6.87139804e+04,  6.28639103e+04,  3.55850093e+04,  4.61131825e+04,
        3.54256623e+04,  6.13483304e+04,  1.77179621e+04,  3.66415642e+04,
        4.72642382e+04,  7.17640580e+04,  3.45692974e+04,  2.70333191e+04,
        1.65212062e+04,  5.88902091e+04,  3.49651453e+04,  5.79747933e+02,
        7.40382264e+04,  7.50239750e+04, -7.81335818e+03,  2.63912775e+02,
        3.14931368e+04,  1.94997171e+04,  5.06372807e+04,  1.90732007e+04,
        5.34960467e+04,  5.65164952e+04,  3.51114108e+04,  1.19222626e+04,
        7.77704919e+04,  5.08632898e+04, -1.18142763e+04,  3.81797903e+04,
        2.10239262e+04,  7.05213153e+04,  1.26848315e+05,  1.98974568e+04,
        5.23367872e+04,  5.81635831e+04,  4.83113628e+04,  1.43445243e+05,
        5.03155611e+04,  2.93494856e+04,  5.75298065e+04,  2.40219857e+04,
        1.47757079e+04,  3.89039221e+04,  1.82991904e+04,  2.06785364e+04,
        6.00257812e+04,  2.55706191e+04,  3.01634742e+04,  2.68444244e+04,
        3.43424334e+04,  5.85673529e+04,  1.30129619e+04,  4.91606172e+04,
        6.03478074e+04, -2.02317208e+04,  3.32641057e+04,  5.98615444e+04,
        3.33635171e+04,  2.58736440e+04,  2.34333610e+04,  8.70751550e+03,
        5.91388332e+04,  5.05349093e+04,  6.13064897e+04,  1.99634478e+04,
        4.68086274e+04,  1.51864364e+04,  3.54780727e+04, -3.71124212e+04,
        5.55185194e+04,  6.19783199e+04,  7.21657733e+04,  4.72873536e+04,
        2.62223428e+04,  3.04042199e+04, -1.36749232e+04,  3.00793060e+04,
       -2.18552602e+03,  4.60515165e+04,  4.63191080e+04,  5.94970216e+04,
       -1.88592153e+04,  7.21179041e+03,  3.20008760e+04,  3.66275358e+04,
        4.38580420e+04,  2.94734498e+04,  2.51267760e+04,  6.57331065e+04,
        6.45689368e+04,  1.80471002e+04,  3.59709662e+04,  9.97254154e+04,
        5.45017315e+04, -4.53023237e+03,  3.35138339e+04,  1.63510238e+04,
       -6.67102819e+03,  5.69961394e+04,  1.89780926e+04,  3.70055110e+04,
        1.17139466e+04,  2.42782866e+04,  1.97081708e+03,  3.51424035e+04,
        9.86451705e+03,  4.97441454e+04,  3.36051769e+04,  3.89931861e+04,
        1.68666036e+03,  2.46369179e+04,  4.80330341e+04,  4.34411609e+04,
        1.34204961e+05,  4.60523553e+04,  1.65218493e+05, -2.82692035e+03,
        2.74897627e+04,  3.49758512e+04,  5.72038910e+04,  4.47973376e+04,
        1.82470358e+03,  4.50200192e+04,  4.86004557e+04,  5.81132453e+04,
        1.50754977e+04,  2.19539947e+04,  3.45783505e+04,  1.85160081e+04,
        2.16188732e+04,  2.09765423e+04,  6.42627333e+04,  2.65584578e+04,
        3.10532346e+04,  7.43903133e+04,  9.37835374e+04,  4.48365524e+04,
        6.39842006e+04,  2.09240393e+04,  5.28348882e+04,  5.07259034e+04,
        4.58786919e+04,  5.38116685e+04,  5.97550997e+04,  3.92501567e+04,
        3.41843651e+04,  2.12796003e+04,  2.39434493e+04, -5.97229943e+03,
        2.64127426e+04,  7.21749494e+04,  6.60426332e+03, -1.72476369e+03,
        9.90191733e+03,  6.00096211e+04,  3.90913753e+04,  3.03094901e+04,
        1.26232641e+05,  4.73344418e+04,  1.56943909e+04,  3.63724231e+04,
        8.06998343e+04,  3.77352215e+04,  3.68694354e+04,  7.76562281e+03,
        6.07925030e+04,  5.12712132e+04, -1.36317302e+04,  3.79399368e+04,
        3.57678733e+04,  1.44392557e+04,  2.62663083e+04,  3.41352671e+04,
        5.00016418e+04,  7.69307535e+03,  2.85734595e+04,  5.19859956e+04,
        1.14737959e+04,  1.43634108e+04,  2.59688168e+04,  2.79702079e+04,
        2.19288953e+04,  7.53593639e+04,  2.55017293e+05,  3.11596234e+04,
        7.82043503e+04,  3.33486642e+04,  4.96198869e+04,  2.78374416e+03,
        4.97862646e+04,  6.97167581e+04,  4.36875128e+04,  3.01341991e+04,
        3.30351970e+04,  4.43509091e+04,  6.04209806e+04,  1.60987058e+04,
        6.39638274e+03,  3.43502214e+04, -5.41429761e+03,  4.80154513e+04,
        5.51969207e+04,  4.45062889e+04, -6.37796488e+03,  5.49275034e+04,
        5.72815371e+04,  2.84258866e+04,  1.18321123e+04, -8.06554245e+03,
        5.66967363e+04,  5.74156563e+04,  5.36286878e+04,  2.46657567e+04,
       -5.01439448e+03,  3.15331076e+04,  2.24363413e+04,  2.56057662e+04,
        3.31887377e+04,  9.39123068e+04,  7.47844050e+04,  1.57905927e+04,
        2.17768365e+04,  4.78519699e+04,  2.58131875e+04,  5.96590896e+04,
        8.00100423e+04,  1.12537698e+04,  5.05245962e+04,  5.41710046e+04,
        2.22922177e+04,  5.16503951e+04,  4.17425391e+04,  1.79153279e+04,
        7.62061007e+04,  3.05683021e+04,  3.31918772e+03,  4.87057514e+04,
        6.43751121e+03,  2.56242670e+04,  9.96103285e+03,  3.73147425e+04,
        3.22872949e+04,  7.08121492e+03,  4.26552479e+04,  3.66135195e+04,
        6.05783905e+04,  5.25090035e+04,  4.49050365e+04,  6.24941379e+04,
        4.86788427e+04,  7.53647573e+03,  5.05088199e+04,  3.13793716e+04,
        3.00238310e+04,  9.39584639e+04,  2.40173954e+04,  3.91685952e+04,
        7.59932421e+04,  2.52809512e+04, -6.93889843e+03,  6.30046431e+03,
        1.57019468e+04,  1.44902644e+04,  2.79885448e+04,  5.29833267e+04,
        1.91094028e+04,  4.29297015e+04,  3.45589678e+04,  2.83281658e+04,
        4.83114739e+04,  4.06486694e+05,  4.07946324e+04,  4.76207317e+04,
        3.87134641e+04,  8.77930181e+03,  3.70009522e+04,  1.23149239e+05,
        7.21983663e+04,  6.35815270e+04,  6.28594613e+04,  1.57911580e+04,
        3.79983310e+04,  3.26845985e+04,  4.27241351e+04,  1.56612230e+04,
        4.58975891e+04,  7.77600623e+04,  2.45185516e+04,  4.41505125e+04,
        7.83002468e+04,  6.17529007e+04,  2.36925097e+04,  6.16119404e+04,
        5.38543991e+04,  4.77693420e+04,  6.03388367e+04,  7.83328163e+04,
        2.79697168e+03,  5.29009543e+04,  1.68047082e+04,  2.37433941e+04,
        4.14993985e+04,  5.13789430e+04,  4.54345585e+04,  3.81873454e+04,
        1.24926177e+05,  1.67759155e+04,  7.56337093e+04,  6.05081223e+04,
        4.68609873e+04,  4.66562528e+04,  7.73138032e+04,  3.12051885e+04,
       -4.82248226e+03,  6.96639202e+04,  8.09821238e+04,  7.91970732e+03,
        9.58245456e+04,  7.75068208e+03,  4.21557426e+04, -1.37524695e+03,
        3.64185333e+04,  7.77572945e+04,  9.86595909e+03,  3.93204487e+04,
        2.75350024e+04,  2.82958229e+04,  4.94359352e+04,  1.06413212e+04,
        8.63682147e+04,  4.64800759e+04, -6.86900636e+03, -4.28834922e+03,
        4.83157458e+04,  6.48551191e+04,  5.61615587e+04,  3.48206130e+04,
        2.59361596e+04,  5.66601600e+04,  2.98916490e+04,  5.64697854e+04,
        2.72188542e+04,  6.10654532e+04,  2.60290153e+04,  2.47301269e+04,
        6.20748040e+04,  4.05985033e+04,  1.60282146e+05,  4.50282613e+04,
        5.05656467e+04,  4.26348482e+04,  1.95597124e+04,  7.76596813e+04,
        2.93431541e+04,  6.42009291e+04,  5.60210820e+04,  6.39829816e+04,
        5.72265826e+04,  5.58508422e+04,  3.24296807e+04,  1.25273710e+04,
        3.54218537e+04,  3.09125073e+04,  5.48301482e+04,  2.45845299e+05,
        2.22382117e+04,  4.41088359e+03,  5.95498568e+04,  4.60481536e+04,
        4.26792822e+04,  3.83731145e+04,  3.20632241e+04,  1.22074547e+04,
        5.15717535e+04,  2.91538471e+04,  8.50485336e+02,  4.09148699e+04,
        3.34250670e+04,  4.92166820e+04, -2.31881245e+04,  5.82890679e+04,
        3.73819256e+04,  2.15501585e+04,  4.25642905e+04,  5.29686145e+04,
        2.72571927e+05,  1.58320992e+04,  6.74603168e+04,  3.91149557e+04,
        7.07192612e+04,  2.03313106e+04, -7.65070900e+03,  3.69553969e+04,
        3.62081058e+03,  3.72339541e+04,  3.76968666e+04,  2.60401747e+03,
        5.92331954e+03,  6.68011162e+04,  1.43024513e+04,  2.37826356e+04,
        6.86388875e+04, -6.36599412e+02,  3.36746510e+04,  5.57093199e+04,
        3.11558746e+04,  4.78170402e+04,  4.90010966e+04,  7.88551925e+04,
        3.66405705e+04, -1.37191893e+03,  3.98024586e+04,  1.50366507e+04,
       -7.03853002e+03,  3.18098219e+04,  6.44364153e+04,  1.84703479e+03,
        3.16251998e+04,  4.60625048e+04,  3.99164074e+04,  5.85095572e+04,
        3.50561259e+04,  4.94828524e+04,  2.06702364e+04, -1.37616263e+04,
        4.21872542e+04,  4.17075186e+04,  2.65046913e+04,  4.00904781e+04,
        3.76852879e+04,  5.76164610e+04,  6.18451394e+03,  2.19920590e+04,
        1.44172794e+05,  2.92874988e+04,  5.63726392e+04,  4.63610295e+04,
        3.71004737e+04,  4.84562130e+04,  5.13298062e+04,  6.93539565e+04,
        6.66667098e+04,  5.28061500e+04,  1.37477860e+05,  5.10969266e+04,
        6.05228857e+04,  9.23309868e+03,  4.90633254e+04,  4.04533511e+04,
        3.98091493e+04,  4.79775358e+04,  3.85100995e+04,  4.21634825e+04,
        6.07348308e+04,  6.15436325e+04, -2.56541545e+04,  3.91650130e+04,
        1.64590644e+05,  2.04923691e+04,  1.30781218e+04,  2.40319667e+04,
        2.12540619e+04,  4.60654173e+04,  1.73055667e+03,  1.25071649e+04,
        8.87798958e+04,  9.77887429e+04,  3.61000545e+04,  1.12019130e+04,
        2.24208830e+05,  1.18133933e+04, -3.44704268e+03,  4.37260690e+04,
        8.34874114e+03,  1.67758526e+04,  4.63543641e+04,  2.11552295e+04,
        6.41394715e+04,  1.19714979e+05,  5.32414255e+04,  9.91696429e+03,
        6.37937517e+04,  2.96308568e+04,  2.56117579e+04,  4.61795837e+04,
        7.05552556e+04,  5.39179148e+04,  3.16268859e+04,  5.04624812e+03,
        5.39183378e+04,  5.96369315e+04,  3.87945956e+04, -6.96429848e+03,
        2.06298140e+04,  8.66145826e+04,  1.41607122e+04, -1.19352760e+04,
       -5.21054151e+03,  5.91687214e+04,  4.32908380e+04,  7.13919063e+03,
        9.49194457e+03,  6.78265534e+04,  4.62840722e+04,  6.58497335e+04,
        8.16650730e+04,  7.12601700e+04, -6.10515386e+03,  1.59335181e+04,
        3.59082861e+04,  2.58924392e+04,  4.71584260e+04,  1.59828507e+05,
        5.14984423e+04,  4.61092573e+04,  5.41716499e+04,  6.64181481e+04,
        3.49069301e+04,  5.19511019e+04,  6.72957299e+04, -2.23495730e+03,
        2.83376345e+04,  6.09722364e+04,  5.42388214e+04,  3.43297406e+04,
        5.95115123e+04,  1.14867197e+04,  3.85789106e+04,  3.62142085e+04,
        9.38510781e+04,  2.73498730e+04,  8.82207221e+04,  6.93801291e+04,
        4.43672228e+04,  1.97257654e+04,  3.23384681e+04,  4.39526823e+04,
        5.08671374e+04,  2.94261697e+04,  3.74623451e+04,  1.60048052e+04,
        8.38796793e+04,  7.54530468e+04,  4.37231343e+04,  6.36411972e+04,
        9.31135179e+04,  2.94307649e+04, -1.44756012e+04,  4.46563439e+04,
        4.35554060e+04,  5.87266166e+04,  4.59514396e+04,  2.41322634e+04,
        4.24953072e+04,  7.74901713e+04,  2.68093289e+04,  1.39281342e+04,
        1.57701465e+04,  1.59789623e+04,  5.43558283e+04,  1.97369342e+04,
        2.33872643e+04,  3.05524142e+04,  3.15342983e+04, -2.69642748e+04,
        5.24748866e+03,  5.59601585e+04,  4.08138627e+04,  4.27631660e+04,
        3.17909600e+04,  3.92712471e+04,  4.75651845e+03, -2.77996743e+03,
        3.42212564e+04,  6.89929841e+04,  2.74501910e+04,  3.05179315e+04,
        5.32253242e+04,  2.13912076e+04,  3.24484889e+04,  4.35727126e+04,
        7.87960239e+04,  4.94675688e+04, -1.32968687e+03,  1.17171810e+04,
        2.64213202e+04,  5.22722589e+04,  9.86115603e+04,  5.64768126e+04,
        9.77632885e+03,  4.26955645e+04,  2.56356600e+04, -1.95498474e+04,
        6.28340514e+04,  5.38562370e+04, -2.18171472e+04,  5.90022294e+03,
        1.82747765e+04,  2.49284854e+05,  1.01821535e+03,  2.60258970e+04,
        3.76038630e+04,  2.37221476e+04,  3.03151979e+04,  2.49989865e+02,
        3.95750571e+04,  6.52447881e+04,  6.15269129e+04,  3.72864280e+04,
        6.14908952e+04,  5.12846518e+04,  1.00122361e+04,  6.50861140e+04,
        3.11199091e+04,  3.81890433e+04,  5.70747970e+03,  9.69185817e+04,
        3.12247841e+04,  3.84757729e+04,  2.13113750e+04,  4.40900396e+03,
        6.45345452e+04,  3.83089947e+04,  5.57311730e+04,  6.52146176e+04,
        8.06820681e+04,  1.73505962e+02,  3.43269466e+04,  4.31591881e+04,
        2.99661671e+04,  3.36175235e+04,  5.41358566e+04,  2.52536104e+04,
        4.22343545e+04,  2.52011622e+04, -9.33750503e+03, -2.12322751e+03,
        2.15019794e+04,  2.30497375e+04,  3.96620297e+04,  4.99457691e+04,
        4.02043766e+04,  1.05064019e+04,  6.46360974e+04,  2.86070795e+04,
        2.63147862e+05,  6.78199544e+04, -5.46126403e+03,  6.89138386e+04,
        6.03360375e+04,  2.20862207e+04,  4.47588600e+04,  2.26313801e+04,
        2.34839903e+04,  3.37764700e+04,  3.43185453e+04,  6.83647156e+03,
        6.23609127e+04,  2.17253301e+04,  3.17021600e+04,  5.81569874e+04,
        4.91661533e+04,  7.72934062e+04,  2.21049067e+04,  5.69444888e+04,
        5.55494934e+04,  6.50773701e+04,  3.59144512e+04,  4.04573689e+04,
        4.43422281e+04,  3.19498973e+04,  4.74475130e+04,  1.51137613e+05,
        3.15761514e+04,  5.48672788e+04])

# Lasso